body {
  --bg-color: white;
  --text-color: rgb(21, 32, 43);
  background: var(--bg-color);
  color: var(--text-color);
  transition: color 0.75s;
  font-family: Josefin Sans, sans-serif;
  overflow: auto;
}
body .container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body header {
  width: 100%;
  text-align: center;
}
body .intro {
  text-align: justify;
}
body .sm-links {
  margin: 5% 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
body .sm-links a {
  color: var(--text-color);
  margin: 0 2%;
  text-decoration: none;
  border-bottom: 1px solid;
}
body .twitter-link {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid;
}

@media (min-width: 992px) {
  .container {
    width: 60%;
    font-size: 18px;
  }

  .intro {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  header {
    font-size: 1.25rem;
  }

  body .sm-links a {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  header {
    font-size: 1.25rem;
  }

  .intro {
    font-size: 1.5rem;
  }

  body .sm-links a {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .container {
    font-size: 12px;
    width: 90%;
  }

  .intro {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  header {
    font-size: 1.25rem;
  }
  body .sm-links a {
    font-size: 1.25rem;
  }
}

@media (max-width: 420px) {
  .container {
    font-size: 10px;
    width: 90%;
  }

  .intro {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  header {
    font-size: 0.8rem;
  }
  body .sm-links a {
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: rgb(21, 32, 43);
    --text-color: white;
  }
}
