body {
  --bg-color: rgb(21, 32, 43);
  --text-color: white;
  background: var(--bg-color);
  color: var(--text-color);
  transition: color 0.75s;
  font-family: Josefin Sans, sans-serif;
}
body .container {
  margin: auto;
  display: flex;
  height: 98vh;
  justify-content: center;
  flex-direction: column;
}
body header {
  width: 100%;
  text-align: center;
}
body .sm-links {
  margin: 5% 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
body .sm-links a {
  color: var(--text-color);
  margin: 0 2%;
  text-decoration: none;
  border-bottom: 1px solid;
}
body #mode-switch {
  position: absolute;
  background: transparent;
  border: none;
  color: var(--text-color);
  outline: none;
  cursor: pointer;
  transition: color 0.75s;
  text-decoration: underline;
  text-underline-position: under;
  top: 5%;
  right: 20%;
  font-size: 1rem;
}

@media (min-width: 990px) {
  .container {
    width: 900px;
    font-size: 18px;
  }

  .intro {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  header {
    font-size: 1.5rem;
  }

  body .sm-links a {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  body .sm-links a {
    font-size: 1.5rem;
  }

  body #mode-switch {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .container {
    font-size: 12px;
    width: 90%;
  }

  .intro {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  header {
    font-size: 1rem;
  }
  body .sm-links a {
    font-size: 0.8rem;
  }

  body #mode-switch {
    top: 2%;
    right: 5%;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .container {
    font-size: 10px;
    width: 90%;
  }

  .intro {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  header {
    font-size: 0.8rem;
  }
  body .sm-links a {
    font-size: 0.8rem;
  }

  body #mode-switch {
    top: 2%;
    right: 5%;
    font-size: 0.8rem;
  }
}

@media (max-width: 250px) {
  .container {
    font-size: 8px;
    width: 90%;
  }

  .intro {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  header {
    font-size: 0.5rem;
  }
  body .sm-links a {
    font-size: 0.6rem;
  }

  body #mode-switch {
    top: 2%;
    right: 5%;
    font-size: 0.6rem;
  }
}
